* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
footer-ul
body,
html {
  font-family: "Inter", sans-serif;
}

/* Header */
header {
  background-color: #ff3b3c; 
}

/* search Seccion */
 .search {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

 .logo{
  width: 100%;
  margin: 4px;
  padding: 4px;
}

 .search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
 .search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
}

 .search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 .search .social ul li {
  padding: 0 10px;
}

 .nav {
  padding: 10px 0;
}

 .nav .navp {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 .nav .navp .nav-button {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
 .nav .navp .nav-button a:hover {
  text-decoration: underline;
}
/* search Seccion */
/* Header */

/* Hero section */
/* titulo */
.title-container span {
  display: block;
  color: white;
  font-weight: 700;
}


.title-container span:first-child {
  font-size: 35px;
}
.title-container span:last-child {
  font-size: 90px;
  line-height: 80px;
}
/* titulo */

section#hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container2 {
  width: 100%;
  margin: 0 auto;

  height: inherit;
  min-height: inherit;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  margin-top: 20px;
}

section#hero {
  border: 1px solid purple;
  height: 340px;
  background: url("/egg_js3/store2/starter/assets/hero_bg.png");
  background-size: cover;
  background-position: top center;
}

section#hero .container2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-container span {
  display: block;
  color: white;
  font-weight: 700;
}

.title-container span:first-child {
  font-size: 40px;
}

.title-container span:last-child {
  font-size: 100px;
  line-height: 80px;
}

footer{
  min-height: 364px;
}

/* Hero Seccion */


/* Main */

.main{
  padding-top: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
    padding: 10px;
    display: flex;
    border-radius: 15px;
  }


  .product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
  }

  .product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
  }

  .product-card {
    background-color: #f0f0f0;
    border-radius: 14px;
    max-width: auto;
    overflow: hidden;
  }

  .product-info{
    padding: 20px;
    box-sizing: border-box;
    color: #000000;
  }

  .product-title{
    word-wrap: break-word;
    display: block;
    line-height: 22px;
  }

  .product-description{
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 6px;
    color: rgb(102, 13, 185);
  }

  .product-tax-policy{
    font-size: 12px;
    font-weight: light;
  }

  .product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
  .product-price-block .discount {
  font-size: 17px;
  font-weight: 700;
  color: #52b912;
  margin: 0;
  text-align: center;
}

/* Bloque de productos */
 .product-container{
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 20px;
 margin: 0 auto;
}
/* Bloque de productos */
/* Main */


/* footer */
/* Footer  */
footer {

  min-height: 250px;
  background-color: #7525a7;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

.footer-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer-ul {
  list-style-type: none;
  padding: 10px;
}
.footer-li {
  padding: 5px 0;
}
.footer-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}
.footer-a {
  color: white;
  text-decoration: none;
}
.footer-copyright {
  width: 1080px;
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

footer{
  /* border: 1px solid #009145; */
  /* Hexadecimal color code*/
  min-height: 250px;
  background-color: #7525A7;
}

.containerfooter{
  display: flex;
  flex-direction: column;
}

.columns-container{
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columns-container .col ul {
padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  text-decoration: none;
  color: #f0f0f0;
}

.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}


/* footer */


/* vista de laptop */
@media (max-width: 768px) {
   .search .form input {
     width: 300px;
   }

   .logo{
    margin-right: 30px;
   }

   .container {
     width: 100%;
   }

   .product-container {
     grid-template-columns: repeat(2, 1fr);
   }


   .columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 15px;
  }  
  .columns-container .col ul li a {
    font-size: 14px;
  }
}

/* vista intermedia */
@media (max-width: 640px) {
  .search .form input{
    width: 100px;
  }
}
.title-container span:first-child {
  font-size: 30px;
}

.title-container span:last-child {
  font-size: 80px;
  line-height: 80px;
}

/* vista de telefono */



@media (max-width: 425px) {
  .search .logo img{
    width: 150px;
  }
  .logo{
    margin-right: 30px;
   }

  .search .form input{
    width: 100px;
  }
  
  .container{
    width: 100%;
  }
  
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .title-container span:first-child {
    font-size: 30px;
  }
  
  .title-container span:last-child {
    font-size: 80px;
    line-height: 80px;
  }

  .search .social ul li {
    padding: 0 5px;
  }

  .columns-container .col ul li.col-main-item {
    font-weight: bold;
    padding-bottom: 15px;
  }  
  .columns-container .col ul li a {
    font-size: 13px;
  }

  
}